Footer.footer 
   .container 
        .row
            .col-xl-3.col-6.footer-menu-icon
                p.text-left Kết nối với Vietjet
                div.text-left.footer-menu
                    span 
                        a(href="https://www.facebook.com/vietjetvietnam/" target="blank") <i class="fa-brands fa-facebook fa-2xl"></i>
                    span 
                        a(href="https://www.instagram.com/vietjet/" target="blank") <i class="fa-brands fa-square-instagram fa-2xl"></i>
                    span 
                        a(href="https://twitter.com/i/flow/login?redirect_after_login=%2FVietjet_Global" target="blank") <i class="fa-brands fa-twitter fa-2xl"></i>
                    span 
                        a(href="https://www.vietjetair.com/vi" target="blank") <i class="fa-brands fa-line fa-2xl"></i>
                    span 
                        a(href="https://www.youtube.com/@VietjetOfficial" target="blank") <i class="fa-brands fa-youtube fa-2xl"></i>
                p.text-left Cập nhật thông tin chuyến bay Flightradar
                  
            .col-xl-3.col-6
                .inner-menu.text-left
                    ul
                        li 
                            a(href="")
                                img(src="/images/footer/icon-flight.svg" class="img-fluid", alt="")
                                span Huớng dẫn đặt chuyến bay
                        li 
                            p Chắp cánh ước mơ với Vietjet
                        li 
                            img(src="/images/footer/icon-unesco.webp" class="img-fluid w-75", alt="")    
            .col-xl-3.col-6
                .inner-menu.text-left 
                    ul 
                        li 
                            a(href="")
                                img(src="/images/footer/icon-pay.svg" class="img-fluid", alt="")
                                span Hướng dẫn thanh toán
                        li 
                            p Tải ứng dụng di động Vietjet Air
                        li  
                            .row 
                                .col-6
                                    a(href="https://apps.apple.com/vn/app/vietjet-air/id867009161" class="d-inline" target="blank") 
                                        img(src="/images/footer/applestore.png" class="img-fluid" , alt="")
                                .col-6
                                    a(href="https://play.google.com/store/apps/details?id=com.vietjetair.vjmobileapp" class="d-inline" target="blank") 
                                        img(src="/images/footer/googleplay.png" class="img-fluid" , alt="")
                            
                         
            .col-xl-3.col-6
                .inner-menu.text-left 
                    ul 
                        li 
                            p CÔNG TY CỔ PHẦN HÀNG KHÔNG VIETJET
                        li 
                            p 302/3 Phố Kim Mã, Phường Ngọc Khánh, Quận Ba Đình, TP. Hà Nội, Việt Nam.
                        li 
                            img(src="/images/footer/icon-bocongthuong.webp" class="img-fluid w-75", alt="")

