Header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.png", alt="Logo")
            .col-9 
                .inner-menu 
                    ul 
                        li 
                            a(href="") Đăng nhập  
                        li 
                            a(href="") Đăng ký
                    ul 
                        li 
                            a(href="/") TRANG CHỦ
                        li 
                            a(href="") CHUYẾN BAY CỦA TÔI
                        li 
                            a(href="/flights") DỊCH VỤ CHUYẾN BAY
                        li 
                            a(href="") DỊCH VỤ KHÁC
