Header.header 
    .container 
        .row.align-items-center 
            .col-xl-3.col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.png", alt="Logo")
            .col-xl-9.col-8
                .inner-menu
                    ul
                        if(user)
                            li 
                                a(href="/user/infor") #{user.fullName}
                            li 
                                a(href="/user/logout") Đăng xuất
                        else
                            li 
                                a(href="/user/login") Đăng nhập  
                            li 
                                a(href="/user/register") Đăng ký

                    .nav__pc 
                        ul    
                            li 
                                a(href="/") TRANG CHỦ
                            li 
                                a(href="/cart") CHUYẾN BAY CỦA TÔI (#{miniCart ? miniCart.totalQuantity : "0"})
                            li 
                                a(href="/service/serviceFlight") DỊCH VỤ CHUYẾN BAY
                            li 
                                a(href="/service/extendService") DỊCH VỤ KHÁC
            
        
            label(class="col-1 nav__bars" for="nav-mobile-input")
                <i class="fa-solid fa-bars"></i>

            input(type="checkbox" name="" class="nav__input" id="nav-mobile-input" hidden) 

            label(for="nav-mobile-input" class="nav__overplay") 

            .nav__mobile
                label(for="nav-mobile-input" class="nav__mobile-close")
                    <i class="fa-regular fa-circle-xmark"></i>
                ul.nav__mobile-list    
                    li 
                        a(href="/" class="nav__mobile-link") TRANG CHỦ
                    li 
                        a(href="/cart" class="nav__mobile-link") CHUYẾN BAY CỦA TÔI (#{miniCart ? miniCart.totalQuantity : "0"})
                    li 
                        a(href="/service/serviceFlight" class="nav__mobile-link") DỊCH VỤ CHUYẾN BAY
                    li 
                        a(href="/service/extendService" class="nav__mobile-link") DỊCH VỤ KHÁC
                    