/* CSS chung */
*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

/* End CSS chung */
/* Header */
.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
  /* End Header */
  
  /* Body */
  .body .sider {
    width: 20%;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 59px;
    left: 0;
    z-index: 9999;
  }
  
  .body .main {
    margin: 15px;
    position: relative;
    left: 20%;
    width: calc(100% - 22%);
  }
  /* End Body */
  
  /* Sider */
  .sider {
    position: relative;
    overflow-y: auto; /* Cho phép cuộn dọc khi nội dung vượt quá kích thước */
    max-height: 100%; /* Đặt chiều cao tối đa cho .sider */
}

.logout-sider-admin {
  bottom: 0;
  left: 0;
}

.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 16px 10px;
    border-bottom: 1px solid #515151;
    margin: 20px 10px;
    border-radius: 8px;
  }
  .sider .inner-menu ul li a:hover {
    background-color: rgb(163, 23, 23);
  }

  .sider .logout-sider-admin{
    margin-top: 40px;
    bottom: 0px; /* Điều chỉnh khoảng cách từ đáy màn hình */
    width: 100%;
  }
  /* End Sider */

  /* show alert  */
[show-alert]{
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden{
  animation-name: alert-hidden;
  animation-duration: 0.5s;;
  animation-fill-mode:both;
}

@keyframes alert-hidden{
  from{
    right: 15px;
  }to{
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert]{
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

/* end show alert  */

/* image-preview  */
.image-preview{
  width: 150px;
  height: auto;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.image-preview[src=""] {
  display: none;
}

/* end image-preview  */

/* detail-flight Trang chi tiết chuyến bay*/

.detail-flight{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.detail-desc-flight{
  flex: 2;
  margin-right: 15px;
}

.detail-box-head-desc{
  border-bottom: 3px solid #6d6e71;
}

.detail-body-desc{
  margin-top: 15px;
  border-radius: 8px;
  padding: 25px 15px;
  background-color: rgb(255, 211, 213);
}
/* ------------------------ */
.detail-price-flight{
  flex: 1;
  border-radius: 5px;
  border: 1px solid black;
  height: fit-content;
}

.detail-price-flight-header{
  background: linear-gradient(107.2deg, rgb(237, 52, 52) 10.6%, rgb(247, 0, 0) 91.1%);
  display: flex;
  justify-content: center;
  color: white;
  padding: 8px;
  font-size: 30px;
  margin-bottom: 10px;
}

.detail-price-flight-body{
  margin-left: 15px;
}

.detail-price-flight-body-desc{
  margin: 0 15px 8px 0;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
}

/* End detail-flight Trang chi tiết */

/* detail-account Trang chi tiết tài khoản */

.detail-account{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.detail-desc-account{
  flex: 2;
  margin-right: 15px;
}
/* =====================================  */
.detail-avatar-account{
  flex: 1;
  border-radius: 5px;
  border: 1px solid black;
}

.detail-avatar-account .detail-avatar-account-img{
  margin: 15px;
}

.detail-avatar-account .detail-avatar-account-detail{
  margin-top: 20px;
  text-align: center;
}

.detail-avatar-account .detail-avatar-account-img .avatar{
  width: 100%;
  min-width: 200px;
  height: auto;
}

/*end detail-account Trang chi tiết tài khoản */