/* CSS Chung  */
*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

    /* background  */
.main {
    position: relative;
}
.main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/background/sky1.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
    background-attachment: fixed;
}

/*End CSS Chung  */

/* Header  */
.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    position: sticky;
    top: 0px;
    z-index: 9999;
    background-color:white;
}

.header .inner-logo img{
    max-width: 100%;
    max-height: 50px;
}

.header .inner-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu ul li {
    margin-left: 20px;
}

.header a{
    color: black;
}

    /* nav bars  */
.nav__pc{
    font-weight: 600;
    font-size: 16px;
}
.nav__bars{
    color: black;
    margin: 0;
    padding: 0;
    display: none;
    cursor: pointer;
}

.nav__overplay{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: white;
    transform: translate(100%);
    opacity: 0;
    transition: all linear 0.2s;
    
}

.nav__mobile-list{
    margin-top: 50px;
    list-style-type: none;
}   

.nav__mobile-link{
    text-decoration: none;
    
    display: block;
    padding: 8px 0 8px 20px;
}

.nav__mobile-close{
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: black;
    position: absolute;
    top: 0.2rem;
    left: 1rem;
    cursor: pointer;
}

.nav__input:checked ~ .nav__overplay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translate(0%);
    opacity: 1;
}


@media (max-width: 1200px) {

    .nav__bars{
        display: block;
    }
    .nav__pc{
        display: none;
    }


}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



/* end header  */

/* footer  */
.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer .footer-menu-icon{
    padding: 0 15px;
}

.footer .inner-menu ul{
    list-style: none;
}

.footer a {
    color: white;
}

.footer div,.footer  li{
    margin-bottom: 16px;
}
/* end footer  */


/*start section-one  */

.section-one{
    position: relative;
}
.carousel{
    width: 100%;
    height: 100%;
}
.section-one .section-one-content{
    position: absolute;
    top: 0;
    padding-left: 60%;
    top: 20%;
}
.section-one .section-one-content form{
    /* background: #df3c38; */
    background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
    padding: 15px;
    border-radius: 8px;
    position: relative;
    border: 1px solid #333;
    min-width: 400px;
}

.section-one .section-one-content form{
    color: white;
}

.section-one .section-one-content form h2{
    display: flex;
    justify-content: center;
}

.section-one .section-one-content form button{
    margin-bottom:33px;
    border: 1px solid #ffdd00;
    background-color: #f5df2e;
    width: 300px;
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
}

.section-one .section-one-content form .form-submit{
    display: flex;
    justify-content: center;
}

    /* Các hình ảnh làm cho form đẹp hơn */
.section-one .section-one-content form .footerFormSearch{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    margin-top: 10px;
}

.section-one .section-one-content form .formSearch11{
    position: absolute;
    width: 105%;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.section-one .section-one-content form .formSearch12{
    position: absolute;
    width: 105%;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 1200px) {

    .section-one .section-one-content{
        position: relative;
    }
    .section-one .section-one-content form{
        position: absolute;
        margin: 0;
        padding: 10px;
        width: 100%;
        left: 0;
        top: -100px;
        z-index: 999;
    }

    .section-one .section-one-content .overflow{
        display: hidden;
        height: 250px;
    }


    /* CSS các hình ảnh của form */
    .section-one .section-one-content form .footerFormSearch{
        display: none;
    }
    .section-one .section-one-content form .formSearch11{
        display: none;
    }
    .section-one .section-one-content form .formSearch12{
        display: none;
    }
    .section-one .section-one-content form button{
        margin-bottom:0;
    }
}

@media (max-width: 768px) {
    .section-one .section-one-content form{
        top: -15px;
        margin: 0;
        padding: 10px;
        z-index: 999;
        border-radius: 8px;
    }
    .section-one .section-one-content .overflow{
        height: 300px;
    }

}

/*end section-one  */


/* product item  */
.product-item{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.product-item .inner-image{
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;   
}

.product-item .inner-image img{
        width: 100%;
        height:  100%;
        object-fit: cover;
}

.product-item .inner-content{
    padding: 15px;
}

.product-item .inner-content .inner-title{
    font-size: 20px;
    font-weight: 600;
}

.product-item .inner-content .inner-price-new{
    font-size: 18px;
    font-weight: 600;
    color: green;
}

.product-item .inner-content .inner-price-old{
    font-size: 18px;
    font-weight: 600;
    color: red;
    text-decoration: line-through;
}

.product-item .inner-content .inner-discount{
    font-size: 14px;
    font-weight: 600;
    color: white;
    background: red;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
}

/*end product item  */