/* CSS Chung  */
main.main{
    min-height: 545px;
}
*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

    /* background  */
.main {
    position: relative;
}
.main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/background/sky1.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
    background-attachment: fixed;
}

/*End CSS Chung  */

/* Header  */
.active-link {
    text-decoration: underline;
}
.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    position: sticky;
    top: 0px;
    z-index: 9999;
    background-color:white;
}

.header .inner-logo img{
    max-width: 100%;
    max-height: 50px;
}

.header .inner-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu ul li {
    margin-left: 20px;
}

.header a{
    color: black;
}

    /* nav bars  */
.nav__pc{
    font-weight: 600;
    font-size: 16px;
}
.nav__bars{
    color: black;
    margin: 0;
    padding: 0;
    display: none;
    cursor: pointer;
}

.nav__overplay{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: white;
    transform: translate(100%);
    opacity: 0;
    transition: all linear 0.2s;
    
}

.nav__mobile-list{
    margin-top: 50px;
    list-style-type: none;
}   

.nav__mobile-link{
    margin: 2px 10px;
    text-decoration: none;
    border-radius: 8px;
    display: block;
    padding: 8px 0 8px 20px;
}
.nav__mobile-link:hover{
    background-color: rgba(180, 158, 158, 0.952);
}


.nav__mobile-close{
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: black;
    position: absolute;
    top: 0.2rem;
    left: 1rem;
    cursor: pointer;
}

.nav__input:checked ~ .nav__overplay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translate(0%);
    opacity: 1;
}


@media (max-width: 1200px) {

    .nav__bars{
        display: block;
    }
    .nav__pc{
        display: none;
    }


}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



/* end header  */

/* footer  */
.footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer .footer-menu-icon{
    padding: 0 15px;
}

.footer .inner-menu ul{
    list-style: none;
}

.footer a {
    color: white;
}

.footer div,.footer  li{
    margin-bottom: 16px;
}
/* end footer  */


/*start section-one  */

.section-one{
    position: relative;
}
.carousel{
    width: 100%;
    height: 100%;
}
.section-one .section-one-content{
    position: absolute;
    top: 0;
    padding-left: 60%;
    top: 20%;
}
.section-one .section-one-content form{
    /* background: #df3c38; */
    background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
    padding: 15px;
    border-radius: 8px;
    position: relative;
    border: 1px solid #333;
    min-width: 400px;
}

.section-one .section-one-content form{
    color: white;
}

.section-one .section-one-content form h2{
    display: flex;
    justify-content: center;
}

.section-one .section-one-content form button{
    margin-bottom:33px;
    border: 1px solid #ffdd00;
    background-color: #f5df2e;
    width: 300px;
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
}

.section-one .section-one-content form .form-submit{
    display: flex;
    justify-content: center;
}

    /* Các hình ảnh làm cho form đẹp hơn */
.section-one .section-one-content form .footerFormSearch{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    margin-top: 10px;
}

.section-one .section-one-content form .formSearch11{
    position: absolute;
    width: 105%;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.section-one .section-one-content form .formSearch12{
    position: absolute;
    width: 105%;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 1200px) {

    .section-one .section-one-content{
        position: relative;
    }
    .section-one .section-one-content form{
        position: absolute;
        margin: 0;
        padding: 10px;
        width: 100%;
        left: 0;
        top: -100px;
        z-index: 999;
    }

    .section-one .section-one-content .overflow{
        display: hidden;
        height: 250px;
    }


    /* CSS các hình ảnh của form */
    .section-one .section-one-content form .footerFormSearch{
        display: none;
    }
    .section-one .section-one-content form .formSearch11{
        display: none;
    }
    .section-one .section-one-content form .formSearch12{
        display: none;
    }
    .section-one .section-one-content form button{
        margin-bottom:0;
    }
}

@media (max-width: 768px) {
    .section-one .section-one-content form{
        top: -15px;
        margin: 0;
        padding: 10px;
        z-index: 999;
        border-radius: 8px;
    }
    .section-one .section-one-content .overflow{
        height: 300px;
    }

}

/*end section-one  */


/* product item  */
.flight-item{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}
.flight-item a{
    color: black;
}

.flight-item .inner-content{
    padding: 15px;
}

.flight-item .inner-content .inner-price{
    text-align: right;
}

.flight-item .inner-content .inner-price p{
    margin: 0;
}

.flight-item .inner-content .inner-price .price{
    color: #C10000;
    font-weight: bold;
    font-size: 24px;
}

.flight-item button {
    border: 1px solid #ffdd00;
    width: 100%;
    background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
    padding: 10px 20px;

    font-weight: 600;
    font-size: 24px;
    font-style: italic;
}

.flight-item button:hover {
    color: white;
}

/*end product item  */

/* detail-flight Trang chi tiết chuyến bay*/

.detail-flight{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .detail-desc-flight{
    flex: 2;
    margin-right: 15px;
  }
  
  .detail-box-head-desc{
    border-bottom: 3px solid #6d6e71;
  }
  
  .detail-body-desc{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 25px 15px;
    background-color: rgb(255, 211, 213);
  }
  /* ------------------------ */
  .detail-price-flight{
    flex: 1;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
    height: fit-content;
  }
  
  .detail-price-flight-header{
    background: linear-gradient(107.2deg, rgb(237, 52, 52) 10.6%, rgb(247, 0, 0) 91.1%);
    display: flex;
    justify-content: center;
    color: white;
    padding: 8px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .detail-price-flight-body{
    padding: 15px;
  }
  
  .detail-price-flight-body-desc{
    margin: 0 0 8px 0;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
  }
  
  /* End detail-flight Trang chi tiết */


    /* show alert  */
[show-alert]{
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
  }
  
  [show-alert].alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 0.5s;;
    animation-fill-mode:both;
  }
  
  @keyframes alert-hidden{
    from{
      right: 15px;
    }to{
      right: -100%;
      display: none;
    }
  }
  
  [show-alert] [close-alert]{
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* end show alert  */

  /* detail-account Trang chi tiết tài khoản */

.detail-account{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .detail-desc-account{
    flex: 2;
    margin-right: 15px;
  }
  /* =====================================  */
  .detail-avatar-account{
    flex: 1;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .detail-avatar-account .detail-avatar-account-img{
    margin: 15px;
  }
  
  .detail-avatar-account .detail-avatar-account-detail{
    margin-top: 20px;
    text-align: center;
  }
  
  .detail-avatar-account .detail-avatar-account-img .avatar{
    width: 100%;
    min-width: 200px;
    height: auto;
  }
  
  /*end detail-account Trang chi tiết tài khoản */

  /* image-preview  */
.image-preview{
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
  }
  .image-preview[src=""] {
    display: none;
  }
  
  /* end image-preview  */

/* Trang Service. Dịch vụ chuyến bay, dịch vụ khác */
/* styles.css */
.box-service-notification {
    background-color: #dedede; /* Màu nền */
    border: 1px solid #f5c6cb; /* Viền */
    color: #721c24; /* Màu chữ */
    padding: 15px; /* Khoảng cách bên trong */
    margin-bottom: 20px; /* Khoảng cách dưới */
    border-radius: 5px; /* Bo góc */
    text-align: center; /* Căn giữa nội dung */
}

.box-service-notification h1 {
    margin-top: 0; /* Loại bỏ khoảng trắng phía trên tiêu đề */
}
/*End Trang Service. Dịch vụ chuyến bay, dịch vụ khác */