extends ../../layouts/default.pug 
include ../../mixins/box-head.pug

block main 
    .container.pb-3.pt-3
        .row 
            .col-12 
                .box-service-notification
                    h1 “Chức năng đang được xây dựng”