.sider 
    .inner-menu 
        ul 
            li 
                a(href=`/${prefixAdmin}/dashboard`) Tổng quan
            li 
                a(href=`/${prefixAdmin}/flights`) Quản lý chuyến bay
            li 
                a(href=`/${prefixAdmin}/accounts`) Quản lý Tài khoản Admin
            li 
                a(href=`/${prefixAdmin}/users`) Quản lý Tài khoản Client